<% layout("layout"); %>
<h2>Daftar Akun</h2>
<form action="/signup" method="POST">
  <input name="username" placeholder="Username" required><br>
  <input name="password" type="password" placeholder="Password" required><br>
  <button type="submit">Daftar Sekarang</button>
</form>
